In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-05-16 18:04:14,-53.1500,-70.9167,42.91,70,0,4.61
1,1,Necochea,AR,2022-05-16 18:06:01,-38.5473,-58.7368,50.43,69,84,23.06
2,2,Albany,US,2022-05-16 18:01:51,42.6001,-73.9662,83.03,61,71,7.00
3,3,Ushuaia,AR,2022-05-16 18:06:02,-54.8000,-68.3000,47.86,76,75,8.05
4,4,Dehu,IN,2022-05-16 18:06:02,18.7167,73.7667,80.65,64,24,9.37

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Albany,US,2022-05-16 18:01:51,42.6001,-73.9662,83.03,61,71,7.00
4,4,Dehu,IN,2022-05-16 18:06:02,18.7167,73.7667,80.65,64,24,9.37
8,8,Kapaa,US,2022-05-16 18:06:04,22.0752,-159.3190,76.98,93,50,7.83
10,10,Arraial Do Cabo,BR,2022-05-16 18:06:05,-22.9661,-42.0278,76.86,73,75,10.36
11,11,Puerto Ayora,EC,2022-05-16 18:06:06,-0.7393,-90.3518,82.36,89,74,4.00
13,13,Namatanai,PG,2022-05-16 18:06:08,-3.6667,152.4333,78.98,79,85,4.05
21,21,Sao Filipe,CV,2022-05-16 18:06:12,14.8961,-24.4956,78.22,64,48,7.45
22,22,Lekoni,GA,2022-05-16 18:06:13,-1.5843,14.2591,80.74,65,92,4.61
29,29,Ca Mau,VN,2022-05-16 18:06:17,9.1769,105.1500,81.03,80,100,3.71
32,32,Meulaboh,ID,2022-05-16 18:06:19,4.1363,96.1285,78.03,86,99,2.44

In [12]:
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2            Albany      US     83.03  42.6001  -73.9662
4              Dehu      IN     80.65  18.7167   73.7667
8             Kapaa      US     76.98  22.0752 -159.3190
10  Arraial Do Cabo      BR     76.86 -22.9661  -42.0278
11     Puerto Ayora      EC     82.36  -0.7393  -90.3518
13        Namatanai      PG     78.98  -3.6667  152.4333
21       Sao Filipe      CV     78.22  14.8961  -24.4956
22           Lekoni      GA     80.74  -1.5843   14.2591
29           Ca Mau      VN     81.03   9.1769  105.1500
32         Meulaboh      ID     78.03   4.1363   96.1285

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Albany,US,83.03,42.6001,-73.9662,
4,Dehu,IN,80.65,18.7167,73.7667,Courtyard by Marriott Pune Chakan
8,Kapaa,US,76.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Arraial Do Cabo,BR,76.86,-22.9661,-42.0278,Pousada Porto Praia
11,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Namatanai,PG,78.98,-3.6667,152.4333,Seagulls Inn Namatani
21,Sao Filipe,CV,78.22,14.8961,-24.4956,Hotel Xaguate
22,Lekoni,GA,80.74,-1.5843,14.2591,Rendez-vous Des ChasseursD
29,Ca Mau,VN,81.03,9.1769,105.1500,Khách Sạn Mường Thanh Luxury Cà Mau
32,Meulaboh,ID,78.03,4.1363,96.1285,Kost Pria

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))