## Deliverable 2. Create a Customer Travel Destinations Map.

In [37]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [38]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Geraldton,AU,-28.7667,114.6000,73.81,56,40,8.05,scattered clouds
1,1,Atuona,PF,-9.8000,-139.0333,78.48,71,1,16.96,clear sky
2,2,Busselton,AU,-33.6500,115.3333,67.71,52,73,10.80,broken clouds
3,3,Champerico,GT,14.3000,-91.9167,84.31,72,97,3.40,overcast clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,40.66,87,100,9.22,light rain

In [39]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [40]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Atuona,PF,-9.8000,-139.0333,78.48,71,1,16.96,clear sky
3,3,Champerico,GT,14.3000,-91.9167,84.31,72,97,3.40,overcast clouds
5,5,Soe,ID,-9.8607,124.2840,85.05,33,44,7.90,scattered clouds
6,6,Atar,MR,20.5169,-13.0499,85.42,13,100,12.21,overcast clouds
8,8,Georgetown,MY,5.4112,100.3354,89.53,70,20,5.01,few clouds
10,10,Mahebourg,MU,-20.4081,57.7000,77.25,69,40,10.36,scattered clouds
21,21,Vaini,TO,-21.2000,-175.2000,77.16,69,20,6.91,few clouds
22,22,Kerema,PG,-7.9631,145.7785,82.85,76,32,7.29,scattered clouds
27,27,Bambous Virieux,MU,-20.3428,57.7575,77.22,69,40,10.36,scattered clouds
31,31,Salalah,OM,17.0151,54.0924,84.29,70,20,1.14,few clouds

In [41]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                221
City                   221
Country                220
Lat                    221
Lng                    221
Max Temp               221
Humidity               221
Cloudiness             221
Wind Speed             221
Current Description    221
dtype: int64

In [42]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_clean_df = preferred_cities_df.dropna()
preferred_cities_clean_df.count()

City_ID                220
City                   220
Country                220
Lat                    220
Lng                    220
Max Temp               220
Humidity               220
Cloudiness             220
Wind Speed             220
Current Description    220
dtype: int64

In [43]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Atuona,PF,78.48,clear sky,-9.8000,-139.0333,
3,Champerico,GT,84.31,overcast clouds,14.3000,-91.9167,
5,Soe,ID,85.05,scattered clouds,-9.8607,124.2840,
6,Atar,MR,85.42,overcast clouds,20.5169,-13.0499,
8,Georgetown,MY,89.53,few clouds,5.4112,100.3354,
10,Mahebourg,MU,77.25,scattered clouds,-20.4081,57.7000,
21,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,
22,Kerema,PG,82.85,scattered clouds,-7.9631,145.7785,
27,Bambous Virieux,MU,77.22,scattered clouds,-20.3428,57.7575,
31,Salalah,OM,84.29,few clouds,17.0151,54.0924,

In [49]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [50]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'] != '']
clean_hotel_df.count()

City                   200
Country                200
Max Temp               200
Current Description    200
Lat                    200
Lng                    200
Hotel Name             200
dtype: int64

In [51]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [52]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))